<app-header></app-header>
<div class="left_sidebar col-md-2">
  <app-sidebar></app-sidebar>
</div>
  
<div class='content-right col-md-10'>
<h1>About Us</h1><hr>
<p>N.Srinivasulu Rao is a very efficient programmer, proficient in platforms like PHP, Hybrid Mobile App & Oracle RightNow from Silicon Valley of India, Bangalore. He specializes in Core PHP, MySQL, HTML, CSS, JavaScript, Jquery, Phonegap for Hybrid Mobile App & Core Java for Native App development with Object Oriented Design, Database Design, Application Architecture, Web Application Security and performance internals.</p>

<p>He's having more than 6.5 years of front end & back end development experience with popular CMS like Joomla, Drupal, Wordpress, Opencart & Prestashop. He has also worked on frameworks like Codeigniter & Laravel. Apart from Web development he is also capable of creating Android based mobile apps using Core Java & PhoneGap. He is very professional and quick in understanding client's requirements & loves to code , learn new technologies with tricks & watches english stand up comedy in his spare time.</p>

<p>Srinivasulu is a Technical Consultant at ORACLE Corporation, working for Global Service Delivery department, he specializes in Oracle's RightNow CRM , where he deals with fortune 200 clients for their customer portal development using RightNow's Connect PHP with Codeigniter Framework for the frontend & C# for desktop add-ins.</p>
</div>
