<h4>Sample Voucher File Details</h4><hr>
<mat-card>
  <mat-card-header><mat-card-title>Expected Format</mat-card-title></mat-card-header>
  <mat-card-content>
     <img src='../assets/img/sample-csv-img.png' class='thumbnails' style='width:100%'>  
  </mat-card-content>
  <button mat-raised-button color='primary' (click)='downloadSampleCSVFile()'><i class="fa fa-download" aria-hidden="true"></i> &nbsp; Download Sample CSV File</button>
</mat-card>
<br>
<table class='table table-striped'>
  <tr><th style='width:30%'>Rows/Columns</th><th>Details</th></tr>
  <tr><td>ROW 1</td><td>This row should be untouched, this is the expected format using which the system will process the uploading task.</td></tr>
  <tr><td>Column 1 - <font color='red'>Required</font> (coupon_code)</td><td>In this column, you should add all the coupon code which your site customer will use it for redemption.</td></tr>
  <tr><td>Column 2 - <font color='red'>Required</font> (voucher_validity)</td><td>This column should include the voucher expiration date, the voucher/coupon will stop working after this mentioned date.</td></tr>
  <tr><td>Column 3 - Optional (product)</td><td>In this column you should mention the product to which the voucher/coupon should be linked. The product name should be same as that of present in the system.</td></tr>
  <tr><td>Column 4 - Optional (notes)</td><td>Here you can some notes related to the voucher.</td></tr>
</table>

