.change_password_form{
    width:500px;
}

.change_password_button{
    float: right;
}

.small{
    font-style:italic;
    color:grey;
}

label::after{
 content:" *";
 color:red;
}

label{
    display: inline-block;
    margin-top:20px;
}