<app-header></app-header>

<div class="left_sidebar col-md-2">
<app-sidebar></app-sidebar>
</div>

<div class='content-right col-md-10'>
<h1> Change Password</h1><hr>
<div [ngClass]="alertClass" *ngIf="showAlertMessage">{{alertMessage}}</div>
<form method="post" action="" class='change_password_form' (ngSubmit)="AttemptChangePassword()">
  <label>Type Old Password</label>
  <input type="password" name="old_password" [(ngModel)]="old_password" required="true" class='form-control'>
  <label>Type New Password</label>
  <input type="password" name="new_password"  [(ngModel)]="new_password" required="true" class='form-control'>
  <span class='small'>Password should be between 8 to 16 characters</span><br>
  <label>Confirm New Password</label>
  <input type="password" name="confirm_new_password"  [(ngModel)]="confirm_new_password" required="true" class='form-control'>
  <span class='small'>Password should be between 8 to 16 characters</span><br>
  <button type="submit"  [disabled]="changePasswordButtonDisabled" class="btn btn-info change_password_button">
    <span *ngIf="updatingPasswordTrue"><i class="fa fa-spinner fa-spin"></i> Please wait ... </span>
    <span *ngIf="updatingPasswordFalse">Change Password</span>
  </button>
</form>
</div> 