<app-header></app-header>

<div class="left_sidebar col-md-2">
<app-sidebar></app-sidebar>
</div>

<div class='content-right col-md-10'>
<h1>Account Details</h1><hr>
<div *ngIf="alertMessage" [ngClass]="alertClass">{{alertMessage}}</div>
<form method="post" action="" (ngSubmit)="SaveAccountDetails" (ngSubmit)="SaveProfileDetails()" style="display: inline-block;width:600px">

    <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput type="text" name="company_name" [formControl]="CompanyNameControl" >
        <mat-error>This value is required !</mat-error>
    </mat-form-field> <br> 

   <mat-form-field>
        <mat-label>Company Email/Username</mat-label>
        <input matInput type="email" [formControl]="CompanyEmailControl" >
        <mat-error>This value is required !</mat-error>
    </mat-form-field> <br>

   <mat-form-field>
       <mat-label>Paypal Email Address</mat-label>
       <input matInput type="email" [formControl]="PayPalEmailControl">
       <mat-error>Paypal Address is required for payment details !</mat-error>
   </mat-form-field><br>
  
    <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [formControl]="CurrencyControl"> 
            <mat-option *ngFor="let currency of CurrencyList" value="{{currency}}">{{currency}}</mat-option>
            </mat-select>
        <mat-error>This value is required !</mat-error>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label>Opted Plan</mat-label>
        <mat-select [formControl]="PlanControl" [disabled]="true"> 
            <mat-option *ngFor="let plan of plans" value="plan_{{plan.plan_id}}">{{plan.plan_name}}</mat-option> 
            </mat-select>
        <mat-error>This value is required !</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-label>Company Logo</mat-label>
    </mat-form-field><br> -->
<br>
<h6>Company Logo</h6>
<img src="{{company_logo}}" style='height:200px;box-shadow: 0 0 10px;border-radius: 10px;' ><br><br>
<input type="file" (change)="CompanyImageUpload($event)" ><br><br>

    <button type="submit" mat-raised-button color="primary" [disabled]="button_disabled">{{button_text}}</button>

</form>

<div style="width: 400px;display: inline-block;vertical-align: top;padding: 10px 30px;background: lightgrey;margin-left: 30px;border-radius: 4px;" class="well">
   <label style="display:block"><span style='width:120px;display:inline-block;'>Account Created </span>: {{account_created}}</label>
   <label style="display:block"><span style='width:120px;display:inline-block;'>Last Login </span>: {{last_login}}</label>
   <label style="display:block"><span style='width:120px;display:inline-block;'>Account Status </span>: <span ngClass={{account_status_badge}} >{{account_status}}</span></label>
   <label style="display:block"><span style='width:120px;display:inline-block;'>Account Validity </span>: {{account_validity}}</label>
</div>
</div>
