/* You can add global styles to this file, and also import other style files */

body{
    font-weight: 300 !important;
    color:#333;
    /*font-family: 'Roboto', sans-serif !important; */
    font-family: 'Carrois Gothic', sans-serif !important;
    font-size: 15px !important;
}

h1,h2,h3,h4,h5,h6,label,input,button,textarea{
    font-family: 'Carrois Gothic', sans-serif !important;
}  

.left_sidebar{
    padding:0px !important;
    display:inline-block !important; 
    vertical-align: top;
}

.content-right{
    display: inline-block; 
    vertical-align: top;
    padding-top:20px;
}

h1{
    color:#123456;
}

.paginate_button{
    background: #fff;
   cursor: pointer;
   }
   .paginate_button:hover{
     background: #b20000;
   }
   .paginate_button.current{
     background: #b20000;
   }


.th-background{
    background: #123456;
    color:white;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
    height:2em !important; 
}

.alert{
    font-weight: bold !important; 
}

td,th{
    vertical-align: middle !important; 
}

.alert-success{
    background-image: url(https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 10px 2px;
    padding-left: 46px !important;
}

.alert-danger{
    background-image:url(https://cdn3.iconfinder.com/data/icons/simple-web-navigation/165/cross-512.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 10px;  
    padding-left: 46px !important;
}

button.mat-sort-header-button{
    margin:auto !important; 
    font-weight: 500 !important;  
    color:white !important;
}

.badge{
 font-weight:400 !important; 
}