.scenery-background{
    /*background:url("https://wrappixel.com/demos/admin-templates/material-pro/assets/images/big/img1.jpg");*/
    background: #123456;
    min-height:100%;
    width:100%;
    top:0px;
    position:absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}


.login-form{
    width:500px;
    box-shadow: 0 0 10px;
    border-radius: 4px;
    margin: auto;
    margin-top:100px;
    background:white;
    min-height:670px;

    margin-bottom:100px;
}

.login-button{
    width:100%;
    margin-top:10px;
}



.alert{
    top:30px;
    position: relative;
}

.mat-form-field{
    width:100% !important; 
}

.login_additional_tasks{
    float:right;
    line-height: 20px !important;
    margin-top:10px;
}

.login_additional_tasks a{
    font-weight:400;
    color:#123456;
    font-size:13px;
    
}

.login-form form{
    padding:20px;
}

h4{
    font-size: 1.5rem;
    background: #343a40;
    color: #EFBB35;
    padding: 10px 20px;
    font-weight: 300;
}